/*
 * Skin: Blue
 * ----------
 */
.skin-zaek .main-header .navbar {
  background-color: #46927e;
}
.skin-zaek .main-header .navbar .nav > li > a {
  color: #ffffff;
}
.skin-zaek .main-header .navbar .nav > li > a:hover,
.skin-zaek .main-header .navbar .nav > li > a:active,
.skin-zaek .main-header .navbar .nav > li > a:focus,
.skin-zaek .main-header .navbar .nav .open > a,
.skin-zaek .main-header .navbar .nav .open > a:hover,
.skin-zaek .main-header .navbar .nav .open > a:focus,
.skin-zaek .main-header .navbar .nav > .active > a {
  background: rgba(0, 0, 0, 0.1);
  color: #f6f6f6;
}
.skin-zaek .main-header .navbar .sidebar-toggle {
  color: #ffffff;
}
.skin-zaek .main-header .navbar .sidebar-toggle:hover {
  color: #f6f6f6;
  background: rgba(0, 0, 0, 0.1);
}
.skin-zaek .main-header .navbar .sidebar-toggle {
  color: #fff;
}
.skin-zaek .main-header .navbar .sidebar-toggle:hover {
  background-color: #3d8c77;
}
@media (max-width: 767px) {
  .skin-zaek .main-header .navbar .dropdown-menu li.divider {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .skin-zaek .main-header .navbar .dropdown-menu li a {
    color: #fff;
  }
  .skin-zaek .main-header .navbar .dropdown-menu li a:hover {
    background: #3d8c77;
  }
}
.skin-zaek .main-header .logo {
  background-color: #3d8c77;
  color: #ffffff;
  border-bottom: 0 solid transparent;
}
.skin-zaek .main-header .logo:hover {
  background-color: #43a08b;
}
.skin-zaek .main-header li.user-header {
  background-color: #46927e;
}
.skin-zaek .content-header {
  background: transparent;
}
.skin-zaek .wrapper,
.skin-zaek .main-sidebar,
.skin-zaek .left-side {
  background-color: #ecf0f5;
}
.skin-zaek .user-panel > .info,
.skin-zaek .user-panel > .info > a {
  color: #000;
}
.skin-zaek .sidebar-menu > li.header {
  color: #4b646f;
  background: #1a2226;
}
.skin-zaek .sidebar-menu > li > a {
  color:#666;
  border-left: 3px solid transparent;
}
.skin-zaek .sidebar-menu > li.active > a,
.skin-zaek .sidebar-menu > li.menu-open > a {
  color: #000;
  background-color: #bfd0c8;
  border-bottom: 1px solid #eee;
  -webkit-box-shadow: inset 6px 27px 15px -30px rgba(0,0,0,0.48);
  -moz-box-shadow: inset 6px 27px 15px -30px rgba(0,0,0,0.48);
  box-shadow: inset 6px 27px 15px -30px rgba(0,0,0,0.48);
}
.skin-zaek .sidebar-menu > li:hover > a,
.skin-zaek .sidebar-menu > li > a:focus {
  background-color: #e2e5ea;
  color:#000;
}
.skin-zaek .sidebar-menu > li.active > a {
  border-left-color: #46927e;
}
.skin-zaek .sidebar-menu > li > .treeview-menu {
  margin: 0 1px;
  background: #2c3b41;
}
.skin-zaek .sidebar a {
  color: #b8c7ce;
}
.skin-zaek .sidebar a:hover {
  text-decoration: none;
}
.skin-zaek .sidebar-menu .treeview-menu > li > a {
  color: #8aa4af;
}
.skin-zaek .sidebar-menu .treeview-menu > li.active > a,
.skin-zaek .sidebar-menu .treeview-menu > li > a:hover {
  color: #ffffff;
}
.skin-zaek .sidebar-form {
  border-radius: 3px;
  border: 1px solid #a1b773;
  margin: 10px 10px;
}
.skin-zaek .sidebar-form input[type="text"],
.skin-zaek .sidebar-form .btn {
  box-shadow: none;
  background-color: #d2d3da;
  border: 1px solid transparent;
  height: 35px;
}
.skin-zaek .sidebar-form input[type="text"] {
  color: #666;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
}
.skin-zaek .sidebar-form input[type="text"]:focus,
.skin-zaek .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  background-color: #fff;
  color: #666;
}
.skin-zaek .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  border-left-color: #fff;
}
.skin-zaek .sidebar-form .btn {
  color: #999;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
}
.skin-zaek.layout-top-nav .main-header > .logo {
  background-color: #46927e;
  color: #ffffff;
  border-bottom: 0 solid transparent;
}
.skin-zaek.layout-top-nav .main-header > .logo:hover {
  background-color: #3b8ab8;
}

.content-wrapper {
  background-color: #fefefe;
}